# Rust 
/target/
Cargo.lock
*.idppc
test.idpp

# inno installer
installer_build/

# VS Code Extension (Node.js) 
vscode-extension/node_modules/
vscode-extension/*.vsix


# Windows 
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Editor & IDE 
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
.idea/
*.swp
*.swo
*~

# OS & System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Log & temp
*.log
*.tmp
*.bak
